body{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

#heading{
    text-shadow: 2px 2px 1px;
    text-align: center;
    font-weight: bold;
    color: rgb(114, 51, 174);
}

.calculator {
    box-shadow: 2px 2px 1px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: cadetblue;
    max-width: 300px;
}

#displayin-outp {
    width: 95%;
    box-shadow: 1px 1px 1px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    box-shadow: 1px 1px 1px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color:aquamarine;
}